!!! html
%html
  %head
    %style{:type => 'text/css'}
      = render 'shared/email/stylesheet'
  %body
    #wrapper
      %header
        = render :partial => 'shared/email/header'

      %section#main
        = yield

      %footer
        = render :partial => 'shared/email/footer'
