<% if gem_available?('spree_digital') && order.some_digital? %>
<div class="spacer_15"> </div>
<h2><span><%= t(:digital_download_links) %></span></h2>
<%== t(:digital_email_description) %>
<%
order.line_items.select { |i| i.digital? }.each do |digital_item|
  digital_item.digital_links.each do |digital_link|
    digital_url = digital_url(:host => Spree::Config.get(:site_url), :secret => digital_link.secret)
    file_name = digital_link.digital.attachment.original_filename
    format = File.extname(file_name).downcase
%>
<p class="digital_link">
  <%== t(:digital_item_email_title, :name => digital_item.variant.name, :type => t("digital_format#{format}"), :file_name => file_name) %>
  <%= link_to digital_url, digital_url%>
</p>
<% end %>
<% end %>
<% end %>
