<% if shipment.tracking.present? %>
<p class="tracking">
	<h2><span><%= t(:tracking_information) %></span></h2>
	<%= link_to shipment.tracking, "http://google.com/search?&q=#{shipment.tracking}" %>
</p>
<% end %>