%p.customer
  = t(:dear_customer, :default => "Dear %{name},", :name => @shipment.order.bill_address ? @shipment.order.bill_address.full_name : 'Customer' )

%p.overview
  Your shipment has been shipped

%p.link
  To view the complete details of your order use the following link:
  = link_to(order_url(@shipment.order, :host => Spree::Config[:site_url]), order_url(@shipment.order, :host => Spree::Config[:site_url]))

%h1
  Shipment Summary

= render :partial => 'shared/email/shipment_details', :locals => {:shipment => @shipment}

- if @shipment.tracking.present?
  %p.tracking
    Tracking Information:
    = @shipment.tracking

%p.thank-you
  Thank you for your business.
