%p.customer
  = t(:dear_customer, :default => "Dear %{name},", :name => @order.bill_address ? @order.bill_address.full_name : 'Customer' )

%p.instructions
  Your order has been <b>CANCELED</b>.  Please retain this cancellation information for your records.

%p.link
  To view the complete details of your order use the following link:
  = link_to(order_url(@order, :host => Spree::Config[:site_url]), order_url(@order, :host => Spree::Config[:site_url]))

%h1
  Order Summary [CANCELED]

= render :partial => 'shared/email/order_details', :locals => {:order => @order}

%p.thank-you
  Thank you for your business.
